<ion-content>
  <div class="centered-content">
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="startDateTime"></ion-datetime-button>
        <ion-text>-</ion-text>
        <ion-datetime-button datetime="endDateTime"></ion-datetime-button>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="startDateTime" presentation="date"></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="endDateTime" presentation="date"></ion-datetime>
  </ng-template>
</ion-modal>
