ion-content {
  --ion-background-color: transparent;

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5vw;
    box-sizing: border-box;

    .chart-container {
      width: 100%;
      height: 100%;

      canvas {
        width: 100%;
        height: 80%;
      }
    }

    .filter-container {
      margin-top: 20px;

      ion-item {
        --background: transparent;

        ion-datetime-button::part(native) {
          background-color: transparent;
          font-size: min(3.5vw, 1.2em);
          font-weight: bold;
          padding: 5px;
        }
      }
    }
  }
}
