ion-content {
  --background: linear-gradient(to bottom right, black, #222);

  .banner {
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }

  h1 {
    font-size: min(3rem, 12vw);
    font-weight: 700;
    color: #fff;
  }

  .published-date {
    color: #ccc;
    margin-bottom: 2rem;
    font-size: 12px;
    letter-spacing: 0.15rem;
  }

  .blog-details {
    padding: 1rem;

    ::ng-deep h2 {
      animation-delay: 0.2s;
      font-size: min(1.5rem, 8vw);
      font-weight: 600;
      color: #fff;
      margin-top: 12px;
    }

    ::ng-deep h3 {
      font-weight: 600;
      letter-spacing: 0.15rem;
      font-size: min(1.375rem, 5vw);
    }

    ::ng-deep p {
      font-size: min(1rem, 6vw) !important;
      color: #ccc !important;
      margin-top: 16px !important;
      line-height: 1.5rem !important;
    }
  }
}
