<ion-content>
  <div class="centered-content">
    <form [formGroup]="activityForm">
      <ion-list>
        <ion-item lines="none">
          <ion-select
            formControlName="activity"
            placeholder="Select activity"
            interface="action-sheet"
            (ionChange)="onActivityChange($event)"
          >
            <ion-select-option
              *ngFor="let activity of activities"
              [value]="activity.id"
            >
              {{ activity.id }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="isSelectedActivity">
          <ion-item lines="none">
            <ion-text>{{ selectedActivity?.Description }}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Active</ion-label>
            <ion-toggle
              color="success"
              [checked]="selectedActivity?.Active"
            ></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Productive</ion-label>
            <ion-toggle
              color="success"
              [checked]="selectedActivity?.Productive"
            ></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Work</ion-label>
            <ion-toggle
              color="success"
              [checked]="selectedActivity?.Work"
            ></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Side Project</ion-label>
            <ion-toggle
              color="success"
              [checked]="selectedActivity?.Side_Project"
            ></ion-toggle>
          </ion-item>
          <ion-button type="submit" shape="round" [disabled]="updateDisabled">
            {{ updateButtonText }}
          </ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
