ion-content {
  --background: transparent;

  form {
    ion-list {
      --ion-item-background: transparent;
    }

    ion-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-label {
        flex: 0 0 auto;
        padding-right: 16px;
      }

      ion-toggle {
        flex: 0 0 auto;
      }
    }

    ion-select {
      font-size: 1.2em;
    }

    ion-button {
      --background: #595959;
      margin-top: 10px;
      width: fit-content;
      padding-left: 12px;
    }
  }
}

.centered-content {
  display: flex;
  height: 100%;
  background-color: transparent;
}

ion-alert {
  text-align: center;
}

// Add styles for the search toast
:host ::ng-deep .search-toast {
  --min-height: 45px;
  --border-radius: 25px;
  --background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: center;

  .toast-message {
    font-size: 14px;
  }
}

// Add styles for the hint text
.hint-text {
  font-size: 12px;
  color: #898989;
  font-style: italic;
  margin-top: -10px;
}
