ion-content {
  --background: transparent;

  form {
    ion-list {
      --ion-item-background: transparent;
    }

    ion-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-label {
        flex: 0 0 auto;
        padding-right: 16px;
      }

      ion-toggle {
        flex: 0 0 auto;
      }
    }

    ion-select {
      font-size: 1.2em;
    }

    ion-button {
      --background: #595959;
      margin-top: 10px;
      width: fit-content;
      padding-left: 12px;
    }
  }
}

.centered-content {
  display: flex;
  height: 100%;
  background-color: transparent;
}

ion-alert {
  text-align: center;
}
