ion-content {
  
  form {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--theme-card);
    border: 2px solid var(--theme-border);
    box-shadow: 10px 10px 0px black;

    ion-datetime-button::part(native) {
      background: var(--theme-button);
      border: 2px solid var(--theme-border);
      padding: 10px;
      margin: 5px;
      font-weight: bold;
    }

    ion-header {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }

    ion-item {
      --ion-item-background: transparent;
      margin-top: 20px;
      font-weight: bold;
    }

    ion-button {
      margin-top: 20px;
      --background: var(--theme-button);
      font-weight: bold;
      color: var(--theme-text);
      --border-color: var(--theme-border);
      --border-style: solid;
      --border-width: 2px;
      --box-shadow: none;
    }
  }
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--theme-bg);
}
