ion-content {

  ion-item {
    margin-top: 20px;
  }

  ion-button {
    margin-top: 20px;
  }
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
