<ion-header>
  <ion-toolbar>
    <ion-title>
      Time Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="trackerForm" (ngSubmit)="submitData()">
    <ion-item>
      <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetimeFrom"
            (ionChange)="changeTimeFrom($event)"
            minuteValues="0,15,30,45"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item>
      <ion-input formControlName="activity" type="text" placeholder="Activity"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Submit</ion-button>
  </form>
</ion-content>