ion-content {
  
  form {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--theme-card);
    border: 2px solid var(--theme-border);
    box-shadow: 10px 10px 0px black;
    min-width: 305px;
    min-height: 395px;

    ion-item {
      --ion-item-background: transparent;
      margin-top: 20px;
      font-weight: bold;
      font-size: 1.4rem;
    }

    ion-header {
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      box-shadow: none;
    }

    ion-datetime-button::part(native) {
      background: var(--theme-button);
      border: 2px solid var(--theme-border);
      padding: 10px;
      margin: 5px;
      font-weight: bold;
      font-size: 1.1rem;
    }

    ion-text {
      font-size: 1rem;
      font-weight: normal;
      width: 100%;
      text-align: center;
      margin-top: 1px;
    }

    .checkbox-container {
      margin-left: 30px;
      
      ion-checkbox {
        --border-color: var(--theme-border);
        --border-color-checked: var(--theme-border);
        --checkbox-background: var(--theme-card);
        --checkbox-background-checked: var(--theme-text);
        --checkmark-color: var(--theme-card);
      }
    
      ion-label {
        font-size: 1rem;
        font-weight: normal;
        padding-left: 10px;
      }
    }

    ion-select {
      width: 100%;
      height: fit-content;
      align-items: center;
    }

    ion-button {
      margin-top: 40px;
      --background: var(--theme-button);
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--theme-text);
      --border-color: var(--theme-border);
      --border-style: solid;
      --border-width: 2px;
      --box-shadow: none;
    }
  }
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--theme-bg);
}
