<ion-content>
  <div class="centered-content">
    <form [formGroup]="trackerForm" (ngSubmit)="submitData()">
      <ion-item lines="none">
        <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetimeFrom"
              (ionChange)="changeTimeFrom($event)"
              minuteValues="0,15,30,45"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item lines="none">
        <ion-select formControlName="activity" placeholder="Select Activity">
          <ion-select-option *ngFor="let activity of activities" [value]="activity.id">
            {{ activity.id }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="block">Submit</ion-button>
    </form>
  </div>
</ion-content>