<ion-content>
  <div id="start-overlay">
    <button id="start-button">
      <i class="fa-solid fa-circle-play"></i>
    </button>
  </div>

  <div id="animation-overlay">
    <svg
      width="100.8018mm"
      height="118.51586mm"
      viewBox="0 0 100.80179 118.51586"
      xmlns="http://www.w3.org/2000/svg"
      class="logo-animation"
    >
      <g transform="translate(-40.81389,-76.461465)">
        <path
          class="path-3"
          style="
            fill: none;
            stroke: #ddd;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 107.49561,145.35069 h 25.20665"
        />
        <path
          class="path-4"
          style="
            fill: none;
            stroke: #ddd;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 117.2,186.10234 c 15.70848,-40.18451 15.70848,-40.18451 15.70848,-40.18451"
        />
        <path
          class="path-1"
          style="
            fill: none;
            stroke: #fff;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 107.14744,84.51144 c -93.960113,104.59873 9.39541,103.55479 9.73387,102.29643"
        />
        <path
          class="path-2"
          style="
            fill: none;
            stroke: #fff;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 48.723716,109.65584 c 83.656784,0 83.656784,0 83.656784,0"
        />
      </g>
    </svg>
    <audio id="logo-audio" src="assets/logo.mp3" preload="auto"></audio>
  </div>

  <div id="main-content">
    <h1>Tom Gorbett</h1>
    <h2>AI Developer</h2>
  </div>
</ion-content>
