<ion-content>
  <div id="start-overlay">
    <button id="start-button">
      <i class="fa-solid fa-circle-play"></i>
    </button>
  </div>
  <div id="animation-overlay">
    <svg
      width="100.8018mm"
      height="118.51586mm"
      viewBox="0 0 100.80179 118.51586"
      xmlns="http://www.w3.org/2000/svg"
      class="logo-animation"
    >
      <g transform="translate(-40.81389,-76.461465)">
        <path
          class="path-3"
          style="
            fill: none;
            stroke: #ccc;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 107.49561,145.35069 h 25.20665"
        />
        <path
          class="path-4"
          style="
            fill: none;
            stroke: #ccc;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 117.2,186.10234 c 15.70848,-40.18451 15.70848,-40.18451 15.70848,-40.18451"
        />
        <path
          class="path-1"
          style="
            fill: none;
            stroke: #fff;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 107.14744,84.51144 c -93.960113,104.59873 9.39541,103.55479 9.73387,102.29643"
        />
        <path
          class="path-2"
          style="
            fill: none;
            stroke: #fff;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
          d="m 48.723716,109.65584 c 83.656784,0 83.656784,0 83.656784,0"
        />
      </g>
    </svg>
    <audio id="logo-audio" src="assets/logo.mp3" preload="auto"></audio>
  </div>
  <div id="main-content">
    <div id="left-col">
      <h1>Tom Gorbett</h1>
      <h2>AI Developer</h2>
      <p>
        I build AI tools that bridge the gap between the left and right brain.
      </p>
      <div id="nav-menu">
        <ul>
          <li
            [class.active]="activeLink === 'about'"
            (click)="toggleActiveLink('about')"
          >
            <a href="#about">ABOUT</a>
          </li>
          <li
            [class.active]="activeLink === 'experience'"
            (click)="toggleActiveLink('experience')"
          >
            <a href="#experience">EXPERIENCE</a>
          </li>
          <li
            [class.active]="activeLink === 'projects'"
            (click)="toggleActiveLink('projects')"
          >
            <a href="#projects">PROJECTS</a>
          </li>
          <li
            [class.active]="activeLink === 'blog'"
            (click)="toggleActiveLink('blog')"
          >
            <a href="#blog">BLOG</a>
          </li>
          <li
            [class.active]="activeLink === 'research'"
            (click)="toggleActiveLink('research')"
          >
            <a href="#research">RESEARCH</a>
          </li>
          <li
            [class.active]="activeLink === 'quotes'"
            (click)="toggleActiveLink('quotes')"
          >
            <a href="#quotes">QUOTES</a>
          </li>
          <li
            [class.active]="activeLink === 'cat'"
            (click)="toggleActiveLink('cat')"
          >
            <a href="#cat">PICTURES OF MY CAT</a>
          </li>
        </ul>
      </div>
      <div id="social-links">
        <a
          href="https://github.com/galwort"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/w-thomas-gorbett-177ba987/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://twitter.com/wthomasgorbett"
          target="_blank"
          aria-label="X (Twitter)"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="mailto:wthomasgorbett@gmail.com" aria-label="Email">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
    </div>
    <div id="right-col">
      <section id="about">
        <h3>ABOUT</h3>
        <p>
          I'm a full-stack developer, specializing in building tools that
          utilize Generative Artificial Intelligence. AI fascinates me because
          it helps me understand the world around me. I've always loved working
          with data, including graphs and tables in my letters to Santa Claus.
        </p>
        <p>
          Currently, I work as an AI Developer at Velosio, helping small to
          mid-sized businesses integrate the technology behind products like
          ChatGPT into their own workflows. If you'd like to connect, feel free
          to send me an email.
        </p>
        <p>
          I was born, raised, and am currently based in sunny Cleveland, Ohio. I
          am proudly a girl-dad. I am unfortunately a Browns fan. Outside of
          work, you can either find me spending time with my family or in the
          corner of a local coffee shop with my head stuck in code.
        </p>
        <p>
          I'm a creative person. Growing up, my parents would set a timer for 30
          minutes each day to practice piano, and listen to make sure I wasn't
          just sitting there. Instead of learning the notes on the page, I would
          just play whatever sounded good. I continued writing music throughout
          my life. In high school, I was accepted into a national composition
          program at the Cleveland Institute of Music. Though I don’t play as
          much anymore, I channel my creativity into building applications and
          solving problems in innovative ways.
        </p>
      </section>
      <section id="experience">
        <h3>EXPERIENCE</h3>
        <p>Velosio (January 2024 - Present)</p>
        <p>Cleveland Clinic (2015 - 2023)</p>
      </section>
      <section id="projects">
        <h3>PROJECTS</h3>
        <ul>
          <li>
            <strong>macros.chat</strong> - A diet tracking app using LLMs to
            estimate nutrient values from meal descriptions.
          </li>
          <li>
            <strong>beautyisapattern.com</strong> - Generates animations based
            on various pattern inputs.
          </li>
          <li>
            <strong>fake-data.com</strong> - Uses LLMs to estimate objective
            statistics on different topics.
          </li>
        </ul>
      </section>
      <section id="blog">
        <h3>BLOG</h3>
        <p>No posts yet. Here are some placeholder links:</p>
        <ul>
          <li><a href="#">Placeholder Post One</a></li>
          <li><a href="#">Placeholder Post Two</a></li>
        </ul>
      </section>
      <section id="research">
        <h3>RESEARCH</h3>
        <a
          href="https://www.sciencedirect.com/science/article/pii/S2153353923001566"
          >The ChatGPT conundrum: Human-generated scientific manuscripts
          misidentified as AI creations by AI text detection tool</a
        >
        <p>
          This paper explores the accuracy of AI detection tools in identifying
          human-written scientific abstracts as non-AI generated. Using over
          14,000 abstracts from major journals, the study reveals that up to 8%
          of human-authored texts were mistakenly flagged as AI-generated. These
          findings highlight the limitations of current detection tools, their
          potential for false accusations in academic and professional settings,
          and the need for more reliable methods to discern AI-generated content
          in an evolving technological landscape.
        </p>
        <br />
        <a
          href="https://www.sciencedirect.com/science/article/pii/S0740257023000138"
          >Artificial intelligence and machine learning overview in pathology &
          laboratory medicine: A general review of data preprocessing and basic
          supervised concepts</a
        >
        <p>
          This comprehensive review introduces essential machine learning
          concepts and data preprocessing techniques tailored for pathology and
          laboratory medicine. It emphasizes the role of supervised learning,
          data standardization, and algorithm selection in analyzing complex
          medical datasets, such as images and numerical records. The article
          serves as a foundational guide for healthcare professionals, bridging
          knowledge gaps and highlighting the potential of AI to enhance
          diagnostic accuracy and operational efficiency in medical settings.
        </p>
        <br />
        <a
          href="https://www.jems.com/ems-operations/assessing-real-world-ems-operations-during-a-pandemic/"
          >Assessing Real-World EMS Operations During a Pandemic Using
          Retrospective Patient Acuity and Mortality Data</a
        >
        <p>
          This study examines the critical role of municipal 911 Emergency
          Medical Services (EMS) during the COVID-19 pandemic, focusing on
          patient transport and outcomes. By analyzing data from 18 emergency
          departments over the first 100 days of the pandemic, the research
          highlights that EMS transported the most critically ill patients, with
          higher ICU admission and mortality rates compared to those arriving by
          private means. The findings underscore EMS's indispensable role in
          public health emergencies and advocate for sustained funding,
          staffing, and strategic planning to optimize pandemic response
          capabilities.
        </p>
      </section>
      <section id="quotes">
        <h3>QUOTES</h3>
        <span>Here are some of my favorite quotes:</span>
        <p>
          <i
            >"If you wish to make an apple pie from scratch, you must first
            invent the universe."</i
          ><br /><br />
          - Carl Sagan
        </p>
        <p>
          <i
            >"Any sufficiently advanced technology is indistinguishable from
            magic."</i
          ><br /><br />
          - Arthur C. Clarke
        </p>
        <p>
          <i
            >"We can only see a short distance ahead, but we can see plenty
            there that needs to be done."</i
          ><br /><br />
          - Alan Turing
        </p>
        <p>
          <i
            >"Nothing is a line. Everything, everywhere is always moving.
            Forever."</i
          ><br /><br />
          - Logan Roy
        </p>
      </section>
      <section id="cat">
        <h3>PICTURES OF MY CAT</h3>
        <div id="cat-gallery">
          <div class="cat-item">
            <img src="assets/vito/so regal.png" alt="So Regal" />
          </div>
          <div class="cat-item">
            <img src="assets/vito/posing.png" alt="Posing" />
          </div>
          <div class="cat-item">
            <img src="assets/vito/just a baby.png" alt="Just a Baby" />
          </div>
          <div class="cat-item">
            <img src="assets/vito/annoyed.png" alt="Annoyed" />
          </div>
          <div class="cat-item">
            <video controls>
              <source src="assets/vito/hard at work.MP4" type="video/mp4" />
            </video>
          </div>
          <div class="cat-item">
            <img
              src="assets/vito/still just a baby.png"
              alt="Still Just a Baby"
            />
          </div>
          <div class="cat-item">
            <img src="assets/vito/ready to party.png" alt="Ready to Party" />
          </div>
          <div class="cat-item">
            <img src="assets/vito/sunbathing.png" alt="Sunbathing" />
          </div>
          <div class="cat-item">
            <img
              src="assets/vito/contemplating the mystery of life.png"
              alt="Contemplating the Mystery of Life"
            />
          </div>
          <div class="cat-item">
            <video controls>
              <source src="assets/vito/tragedy.MP4" type="video/mp4" />
            </video>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>
