<ion-content>
  <div class="centered-content">
    <img src="assets/Headshot.jpg" alt="headshot" class="headshot" />
    <div class="text">
      <h1>Hi, I'm Tom!</h1>
      <p>I'm a Generative AI Developer</p>

      <p></p>
      <p>Here are some of my favorite quotes</p>
      <li>
        <i
          >"If you wish to make an apple pie from scratch, you must first invent
          the universe."</i
        >
        - Carl Sagan
      </li>
      <li>
        <i
          >"Any sufficiently advanced technology is indistinguishable from
          magic."</i
        >
        - Arthur C. Clarke
      </li>
      <li>
        <i
          >"We can only see a short distance ahead, but we can see plenty there
          that needs to be done."</i
        >
        - Alan Turing
      </li>
      <li>
        <i
          >"Nothing is a line. Everything, everywhere is always moving.
          Forever."</i
        >
        - Logan Roy
      </li>
    </div>
  </div>
</ion-content>
