ion-content {
  #start-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1000;
  }

  #start-button {
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  #start-button i {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  #start-button:hover i {
    transform: scale(1.1);
  }

  #animation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1000;
    padding: 150px;
  }

  .logo-animation {
    animation: shrinkOut 0.3s ease forwards 2.2s;
  }

  .logo-animation path {
    stroke-dasharray: 1000;
  }

  .path-1,
  .path-2,
  .path-3 {
    stroke-dashoffset: 1000;
  }

  .path-1 {
    animation: drawForward 3s ease forwards 0s;
  }

  .path-2 {
    animation: drawForward 3s ease forwards 0.4s;
  }

  .path-3 {
    animation: drawForward 3s ease forwards 1s;
  }

  .path-4 {
    stroke-dashoffset: -1000;
    animation: drawBackward 1s ease forwards 0.4s;
  }

  #main-content {
    display: none;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: "Inter";

    h1 {
      font-size: min(3rem, 10vw);
      font-weight: 700;
      color: #fff;
    }

    h2 {
      font-size: min(1.5rem, 5vw);
      font-weight: 600;
      color: #ccc;
      margin-top: 12px;
    }
  }

  @keyframes drawForward {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawBackward {
    from {
      stroke-dashoffset: -1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes shrinkOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
}

@media (max-width: 768px) {
  ion-content #main-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
