ion-content {
  --background: linear-gradient(
    to bottom right,
    var(--random-bg),
    var(--random-bg-shade)
  );
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
