<ion-content>
  <div
    class="blog-banner"
    [ngStyle]="{'background-image': 'url(assets/blog-images/blog.png)'}"
  >
    <h1 class="blog-title">Blog</h1>
  </div>
  <div class="blog-content">
    <div *ngFor="let blog of blogs" class="blog-item">
      <img
        [src]="'assets/blog-images/' + blog.id + '.png'"
        [alt]="blog.title"
        class="blog-image"
        (click)="navigateToBlog(blog.id)"
      />
      <div class="blog-title-overlay" (click)="navigateToBlog(blog.id)">
        {{ blog.title }}
      </div>
    </div>
  </div>
</ion-content>
