<ion-content>
  <div class="centered-content">
    <div class="select-container">
      <ion-item lines="none">
        <ion-select [(ngModel)]="selectedComponent" interface="popover">
          <ion-select-option value="timetracker">Time</ion-select-option>
          <ion-select-option value="daily">Day</ion-select-option>
          <ion-select-option value="analytics">Charts</ion-select-option>
          <ion-select-option value="timeline">Grid</ion-select-option>
          <ion-select-option value="activities">Activities</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="component-container">
      <ng-container *ngIf="selectedComponent === 'timetracker'">
        <app-timetracker></app-timetracker>
      </ng-container>
      <ng-container *ngIf="selectedComponent === 'daily'">
        <app-daily></app-daily>
      </ng-container>
      <ng-container *ngIf="selectedComponent === 'analytics'">
        <app-analytics></app-analytics>
      </ng-container>
      <ng-container *ngIf="selectedComponent === 'timeline'">
        <app-timeline></app-timeline>
      </ng-container>
      <ng-container *ngIf="selectedComponent === 'activities'">
        <app-activities></app-activities>
      </ng-container>
    </div>
  </div>
</ion-content>
