<ion-header>
  <ion-toolbar>
    <ion-title>Wedding Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="photo-grid">
    <div
      class="photo-item"
      [class.loaded]="photo.loaded"
      [class.portrait]="photo.isPortrait"
      *ngFor="let photo of photos; let i = index"
    >
      <img #imgRef [src]="photo.blobUrl" (load)="onImageLoad(i, imgRef)" />
      <a
        (click)="downloadPhoto(photo.blobUrl, photo.name)"
        class="download-icon"
      >
        <i class="fa-solid fa-download"></i>
      </a>
    </div>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePhotos($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
