ion-content {
  --background: linear-gradient(to bottom right, black, #222);
}

.masonry {
  column-count: 3;
  column-gap: 1rem;
  @media (max-width: 768px) {
    column-count: 2;
  }
  @media (max-width: 480px) {
    column-count: 1;
  }
}

.photo-item {
  position: relative;
  opacity: 0;
  margin-bottom: 1rem;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  text-align: center;
  transition: opacity 0.4s ease-in-out;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
}

.loaded {
  opacity: 1;
}

.download-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}
