<ion-header>
  <ion-toolbar>
    <ion-title>Wedding Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let photo of photos; let i = index">
        <div [class.loaded]="photo.loaded" class="photo-item">
          <img [src]="photo.blobUrl" (load)="onImageLoad(i)" />
          <a
            (click)="downloadPhoto(photo.blobUrl, photo.name)"
            class="download-icon"
          >
            <i class="fa-solid fa-download"></i>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePhotos($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
