ion-content {
  --background: transparent;

  form {
    ion-list {
      --ion-item-background: transparent;
    }

    ion-label {
      padding-left: 8px;
    }

    ion-button {
      --background: var(--theme-button);
      margin-top: 10px;
    }
  }
}

.centered-content {
  display: flex;
  height: 100%;
  background-color: transparent;
}

ion-alert {
  text-align: center;
}
