<ion-content>
  <div class="centered-content">
    <form [formGroup]="trackerForm" (ngSubmit)="submitData()">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-header>Time Tracker</ion-header>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item lines="none" *ngIf="trackerForm.get('dateCheckbox')?.value">
            <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetimeFrom"
                  (ionChange)="changeTimeFrom($event)"
                  minuteValues="0,15,30,45"
                  [value]="trackerForm.value.datetime"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item
            lines="none"
            *ngIf="!trackerForm.get('dateCheckbox')?.value"
          >
            <ion-datetime-button datetime="timeFrom"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="timeFrom"
                  (ionChange)="changeTimeFrom($event)"
                  minuteValues="0,15,30,45"
                  presentation="time"
                  [value]="trackerForm.value.datetime"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item
            lines="none"
            *ngIf="trackerForm.get('rangeCheckbox')?.value"
          >
            <ion-text>- to -</ion-text>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item
            lines="none"
            *ngIf="
              trackerForm.get('dateCheckbox')?.value &&
              trackerForm.get('rangeCheckbox')?.value
            "
          >
            <ion-datetime-button datetime="datetimeTo"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetimeTo"
                  (ionChange)="changeTimeTo($event)"
                  minuteValues="0,15,30,45"
                  [value]="trackerForm.value.datetimeTo"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item
            lines="none"
            *ngIf="
              !trackerForm.get('dateCheckbox')?.value &&
              trackerForm.get('rangeCheckbox')?.value
            "
          >
            <ion-datetime-button datetime="timeTo"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="timeTo"
                  (ionChange)="changeTimeTo($event)"
                  minuteValues="0,15,30,45"
                  presentation="time"
                  [value]="trackerForm.value.datetimeTo"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item lines="none" class="checkbox-container">
            <ion-checkbox formControlName="dateCheckbox"></ion-checkbox>
            <ion-label>Date</ion-label>
            <ion-item style="width: 25px"></ion-item>
            <ion-checkbox formControlName="rangeCheckbox"></ion-checkbox>
            <ion-label>Range</ion-label>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-item lines="none">
            <ion-select
              formControlName="activity"
              placeholder="Select Activity"
            >
              <ion-select-option
                *ngFor="let activity of activities"
                [value]="activity.id"
              >
                {{ activity.id }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center" *ngIf="lastUpdatedDateTime">
          <ion-text>Updated {{ lastUpdatedDateTime }}</ion-text>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" expand="block" shape="round"
          >Submit</ion-button
        >
      </ion-row>
    </form>
  </div>
</ion-content>
