<ion-content>
  <div class="centered-content">
    <form [formGroup]="trackerForm" (ngSubmit)="submitData()">
      <ion-list>
        <ion-item lines="none">
          <ion-label>Start time:</ion-label>
          <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetimeFrom"
                (ionChange)="changeTimeFrom($event)"
                minuteValues="0,15,30,45"
                [value]="trackerForm.value.datetime"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item lines="none">
          <ion-label>End time:</ion-label>
          <ion-datetime-button datetime="datetimeTo"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetimeTo"
                (ionChange)="changeTimeTo($event)"
                minuteValues="0,15,30,45"
                [value]="trackerForm.value.datetimeTo"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item lines="none">
          <ion-select
            #activitySelect
            formControlName="activity"
            placeholder="Select activity"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let activity of activities"
              [value]="activity.id"
            >
              {{ activity.id }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="lastUpdatedDateTime">
          <ion-text style="color: #898989"
            >Updated {{ formatDateTime(lastUpdatedDateTime) }}</ion-text
          >
        </ion-item>
        <ion-button type="submit" shape="round" [disabled]="isSubmitting">{{
          submitButtonText
        }}</ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
