ion-content {
  --ion-background-color: transparent;

  .centered-content {
    height: 90%;
    position: relative;

    swiper-container {
      width: 100%;
      height: 100%;
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 5px;
      font-size: min(1.5rem, 2vw);
      cursor: pointer;
      z-index: 10;
    }

    .left-arrow {
      left: 1rem;
      cursor: pointer !important;
    }

    .right-arrow {
      right: 1rem;
      cursor: pointer !important;
    }

    @media (max-width: 768px) {
      .arrow {
        display: none;
      }
    }

    .filter-container {
      margin-top: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 10%;

      ion-item {
        --background: transparent;

        ion-datetime-button::part(native) {
          background-color: transparent;
          font-size: min(3.5vw, 1.2em);
          font-weight: bold;
          padding: 5px;
        }
      }
    }
  }
}
