<ion-content>
  <div class="centered-content">
    <swiper-container class="analytics-swiper" [slidesPerView]="1">
      <swiper-slide>
        <app-timepie
          *ngIf="loadedSlides[0]"
          [startDate]="startDate"
          [endDate]="endDate"
        ></app-timepie>
      </swiper-slide>
      <swiper-slide>
        <app-timebar
          *ngIf="loadedSlides[1]"
          [startDate]="startDate"
          [endDate]="endDate"
        ></app-timebar>
      </swiper-slide>
      <swiper-slide>
        <app-timevert
          *ngIf="loadedSlides[2]"
          [startDate]="startDate"
          [endDate]="endDate"
        ></app-timevert>
      </swiper-slide>
      <swiper-slide>
        <app-timechart *ngIf="loadedSlides[3]"></app-timechart>
      </swiper-slide>
    </swiper-container>
    <div class="arrow left-arrow" (click)="previousSlide()">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="arrow right-arrow" (click)="nextSlide()">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="startDateTime"></ion-datetime-button>
        <ion-text>-</ion-text>
        <ion-datetime-button datetime="endDateTime"></ion-datetime-button>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="startDateTime"
      presentation="date"
      [(ngModel)]="startDate"
      [max]="endDate"
      (ionChange)="onStartDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="endDateTime"
      presentation="date"
      [(ngModel)]="endDate"
      [min]="startDate"
      [max]="today"
      (ionChange)="onEndDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>
