ion-content {
  --ion-background-color: transparent;

  .centered-content {
    height: 100%;
    swiper-container {
      width: 100%;
      height: 100%;
    }

    .filter-container {
      margin-top: 0px;

      ion-item {
        --background: transparent;

        ion-datetime-button::part(native) {
          background-color: transparent;
          font-size: min(3.5vw, 1.2em);
          font-weight: bold;
          padding: 5px;
        }
      }
    }
  }
}
