ion-content {
  --background: linear-gradient(to bottom right, black, #222);

  .centered-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2%;

    ion-item {
      --background: transparent;
      font-weight: bold;
      border: none;
      font-size: 5vh;
      width: fit-content;
    }

    .component-container {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
    }
  }
}
