.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - var(--ion-safe-area-top) - var(--ion-safe-area-bottom));
  padding: 50px;
  box-sizing: border-box;
  background-color: var(--theme-bg);
}

canvas {
  max-width: 100%;
  max-height: 100%;
}
