<ion-content>
  <div class="centered-content">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="pieChartType"
      ></canvas>
    </div>
    <div class="filter-container">
      <ion-item>
        <ion-datetime-button datetime="startDateTime"></ion-datetime-button>
        <ion-datetime-button datetime="endDateTime"></ion-datetime-button>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="startDateTime"
      presentation="date"
      [(ngModel)]="startDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="endDateTime"
      presentation="date"
      [(ngModel)]="endDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>
