<ion-content>
  <div class="centered-content">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="pieChartType"
      ></canvas>
    </div>
    <div class="production">
      <ion-text
        >Productive Hours:
        {{ totalProductiveHours | number : "1.2-2" }}</ion-text
      >
      <ion-text
        >Estimated: {{ estimatedProductiveHours | number : "1.2-2" }}</ion-text
      >
    </div>
  </div>
</ion-content>
