<ion-content>
  <div class="centered-content">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
      ></canvas>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="startDateTime"></ion-datetime-button>
        <ion-text>-</ion-text>
        <ion-datetime-button datetime="endDateTime"></ion-datetime-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Categories</ion-label>
        <ion-select
          [(ngModel)]="selectedCategories"
          multiple="true"
          (ionChange)="onCategoryChange()"
        >
          <ion-select-option value="Sleeping">Sleep</ion-select-option>
          <ion-select-option value="Work">Work</ion-select-option>
          <ion-select-option value="Productive">Productive</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="startDateTime"
      presentation="date"
      [(ngModel)]="startDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="endDateTime"
      presentation="date"
      [(ngModel)]="endDate"
      (ionChange)="onDateChange()"
    ></ion-datetime>
  </ng-template>
</ion-modal>
