<ion-content>
  <div class="centered-content">
    <div class="timeline-container">
      <div *ngFor="let day of timelineData" class="timeline-day">
        <div class="timeline-activities">
          <div
            *ngFor="let activity of day.activities"
            class="timeline-activity"
            [style.top.%]="activity.startPercent"
            [style.height.%]="activity.durationPercent"
            [style.backgroundColor]="activity.color"
          >
            <div class="timeline-activity-name">{{ activity.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="filterDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="filterDate"
              presentation="date"
              [(ngModel)]="startDate"
              (ionChange)="onDateChange()"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </div>
  </div>
</ion-content>
