ion-content {
  --ion-background-color: transparent;

  .centered-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    .timeline-container {
      flex-grow: 1;
      overflow-y: hidden;
      padding: 30px;

      swiper-container {
        height: 100%;

        h2 {
          font-size: min(5vh, 2.5em);
          margin: 0;
        }

        p {
          font-size: min(3vh, 1.5em);
          margin: 0;
        }
      }
    }

    .filter-container {
      margin-top: 40px;
      display: flex;
      flex-direction: row;

      ion-item {
        --background: transparent;
        --inner-padding-end: 0px;

        ion-datetime-button::part(native) {
          background-color: transparent;
          font-size: min(4.5vw, 1.6em);
          font-weight: bold;
          padding: 12px;
        }
      }
    }
  }
}
