<ion-content>
  <div class="centered-content">
    <div class="timeline-container">
      <swiper-container
        direction="vertical"
        [slidesPerView]="1.5"
        [effect]="'cards'"
        [cardsEffect]="{
          perSlideOffset: 30,
          rotate: false,
          slideShadows: false,
        }"
      >
        <ng-container *ngFor="let day of timelineData">
          <swiper-slide *ngFor="let activity of day.activities">
            <div
              [ngStyle]="{
                display: 'flex',
                flexDirection: 'column',
                justifyContent: 'center',
                alignItems: 'center',
                'background-color': activity.color,
                padding: '20px',
                'border-radius': '10px',
                boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2)',
              }"
            >
              <h2>{{ activity.name }}</h2>
              <p>{{ day.date | date : "shortTime" }}</p>
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="filterDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="filterDate"
              presentation="date"
              [(ngModel)]="startDate"
              (ionChange)="onDateChange()"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </div>
  </div>
</ion-content>
