ion-content {
  --ion-background-color: transparent;

  .centered-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    .timeline-container {
      flex-grow: 1;
      overflow-y: hidden;
      padding: 30px;

      swiper-container {
        height: 100%;

        h2 {
          font-size: min(4vh, 2em);
          margin: 0;
        }

        p {
          font-size: min(2vh, 1em);
          margin: 0;
        }
      }
    }

    .filter-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ion-button {
        margin-left: auto;
      }

      ion-item {
        --background: transparent;
        --inner-padding-end: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        ion-datetime-button::part(native) {
          background-color: transparent;
          font-size: min(3vw, 1em);
          font-weight: bold;
          padding: 12px;
        }

        ion-segment {
          --background: transparent;
          padding: 12px;
          width: 220px;

          ion-segment-button {
            font-size: min(3vw, 1em);
            font-weight: bold;
          }
        }
      }
    }
    .week-container {
      padding: 10px;
      overflow: auto;

      .week-grid {
        display: grid;
        grid-template-columns: 60px repeat(7, 1fr);
        width: 100%;
        max-width: 100vw;

        .time-col {
          font-size: min(1.5vh, 0.8em);
          padding: 2px;
          text-align: right;
        }

        .day-header {
          font-weight: bold;
          text-align: center;
          padding: 4px 2px;
          font-size: min(1.5vh, 0.9em);
        }
        .day-cell {
          min-width: 0;
          min-height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.full-radius {
            border-radius: 8px;
          }

          &.top-radius {
            border-radius: 8px 8px 0 0;
          }

          &.bottom-radius {
            border-radius: 0 0 8px 8px;
          }

          &.no-radius {
            border-radius: 0;
          }
        }
      }
    }
  }
}
