<ion-content>
  <div class="centered-content">
    <div class="timeline-container" *ngIf="!weekView">
      <swiper-container
        direction="vertical"
        [slidesPerView]="4"
        [effect]="'cards'"
        [cardsEffect]="{
          perSlideOffset: 30,
          rotate: false,
          slideShadows: true,
        }"
      >
        <ng-container *ngFor="let day of timelineData">
          <swiper-slide *ngFor="let activity of day.activities">
            <div
              [ngStyle]="{
                display: 'flex',
                flexDirection: 'column',
                alignItems: 'center',
                'background-color': activity.color,
                padding: '20px',
                'border-radius': '10px',
                boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.5)',
              }"
            >
              <h2>{{ activity.name }}</h2>
              <p>{{ day.date | date : "shortTime" }}</p>
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
    <div class="week-container" *ngIf="weekView">
      <div class="week-grid">
        <div class="time-col"></div>
        <div class="day-header" *ngFor="let d of weekDays">
          {{ d | date : "M/d" }}
        </div>
        <ng-container *ngFor="let row of weekMatrix; let i = index">
          <div class="time-col">{{ timeLabels[i] }}</div>
          <ng-container *ngFor="let cell of row; let j = index">
            <div
              class="day-cell"
              [ngClass]="getBorderRadiusClass(i, j)"
              [ngStyle]="{ 'background-color': cell?.color || 'transparent' }"
              [title]="getTooltipText(i, j)"
            ></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="filter-container">
      <ion-item lines="none">
        <ion-datetime-button datetime="filterDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="filterDate"
              presentation="date"
              [(ngModel)]="startDate"
              (ionChange)="onDateChange()"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item lines="none">
        <ion-segment
          [(ngModel)]="viewMode"
          (ionChange)="onViewModeChange($event)"
          color="dark"
        >
          <ion-segment-button value="day">
            <ion-label>Day</ion-label>
          </ion-segment-button>
          <ion-segment-button value="week">
            <ion-label>Week</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </div>
  </div>
</ion-content>
