ion-toolbar {
    text-align: center;
    --background: linear-gradient(to bottom, var(--theme-button), var(--theme-bg));;
    
    ion-icon {
        color: var(--theme-text);
        font-size: 30px;
        padding: 10px;
    }
}