<ion-app>
  <ion-header class="ion-no-border" *ngIf="currentUrl != '/unlock'">
    <ion-toolbar>
      <a *ngIf="currentUrl === '/'" href="https://www.github.com/galwort" target="_blank">
        <ion-icon name="logo-github" alt="github"></ion-icon>
      </a>
      <a *ngIf="currentUrl === '/'" href="https://www.linkedin.com/in/w-thomas-gorbett-177ba987/" target="_blank">
        <ion-icon name="logo-linkedin" alt="linkedin"></ion-icon>
      </a>
      <a *ngIf="currentUrl === '/'" href="https://www.x.com/wthomasgorbett" target="_blank">
        <ion-icon name="logo-twitter" alt="x"></ion-icon>
      </a>
      <a *ngIf="currentUrl === '/'" href="mailto:wthomasgorbett@gmail.com">
        <ion-icon name="mail"></ion-icon>
      </a>
      <a *ngIf="currentUrl !== '/' && currentUrl !== '/timetracker'" routerLink="/timetracker">
        <ion-icon name="time"></ion-icon>
      </a>
      <a *ngIf="currentUrl !== '/' && currentUrl !== '/moodtracker'" routerLink="/moodtracker">
        <ion-icon name="happy"></ion-icon>
      </a>
      <a *ngIf="currentUrl !== '/' && currentUrl !== '/gratitudes'" routerLink="/gratitudes">
        <ion-icon name="gift"></ion-icon>
      </a>
      <a [routerLink]="currentUrl === '/' ? '/unlock' : '/'">
        <ion-icon name="person-circle"></ion-icon>
      </a>      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
