<ion-content>
  <div class="centered-content">
    <ion-list class="centered-list">
      <ion-item lines="none">
        <ion-label>Diet</ion-label>
        <ion-icon [name]="icons[dietIndex]" [color]="colors[dietIndex]" (click)="changeDietIcon()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Marriage</ion-label>
        <ion-icon [name]="icons[marriageIndex]" [color]="colors[marriageIndex]" (click)="changeMarriageIcon()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Parents</ion-label>
        <ion-icon [name]="icons[parentsIndex]" [color]="colors[parentsIndex]" (click)="changeParentsIcon()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Productivity</ion-label>
        <ion-icon [name]="icons[productivityIndex]" [color]="colors[productivityIndex]" (click)="changeProductivityIcon()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Sleep</ion-label>
        <ion-icon [name]="icons[sleepIndex]" [color]="colors[sleepIndex]" (click)="changeSleepIcon()"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button shape="round" size="small" (click)="submit()">Save</ion-button>
  </div>
</ion-content>